psycopg2
bleach
django-composite-field
django-ordered-model
git+ssh://git@github.com/vporton/django-language-field.git
django-bootstrap3
django-recaptcha2
django-googlytics==0.2.1
django-defender
django-cities
