<div id="cats-filter">
    <div class="container" style="width: 600px">
        {% for cat in all_categories %}
            {% cycle '<div class="row">' '' %}
                <div class="col-xs-6">
                    <label>
                        <input type="checkbox"
                               value="{{ cat.pk }}"
                               {% if cat.pk in categories %}checked="checked"{% endif %}/>
                        {{ cat }}
                    </label>
                </div>
            {% cycle '' '</div>' %}
        {% endfor %}
    </div>
    <input type="button" value="Apply filter" />
</div>