<div id="cats-filter">
    <div class="container" style="width: 600px" id="categoriesFilter">
        {% for cat in all_categories %}
            {% cycle '<div class="row">' '' %}
                <div class="col-xs-6">
                    <label>
                        <input type="checkbox"
                               value="{{ cat.pk }}"
                               {% if cat.pk in categories %}checked="checked"{% endif %}/>
                        {{ cat }}
                    </label>
                </div>
            {% cycle '' '</div>' %}
        {% endfor %}
    </div>
    <p>
        <input type="button" value="Apply filter" onclick="set_categories_filter()" />
        <input type="button" value="Clear filter" onclick="clear_categories_filter()" />
    </p>
</div>