{% extends "core/base.html" %}

{% block title %}Initiatives list{% endblock %}
{% block header %}Initiatives list{% endblock %}

{% block moreheader %}
<meta name="robots" content="noindex" />
{% endblock %}

{% block content %}

{% include 'core/paginator_template.html' %}

{% if versions %}
    <ul>
        {% for i in versions %}
        <li><a href="{% url 'initiative:view' i.initiative_language.initiative.pk %}?lang={{ i.initiative_language.language }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>None</p>
{% endif %}

{% include 'core/paginator_template.html' %}

{% endblock %}
