{% extends "core/base.html" %}

{% block title %}Initiative {{version.title}}{% endblock %}
{% block header %}<h2 lang="{{ version.initiative_language.language }}">{{version.title}}</h2>{% endblock %}

{% block scripts %}
{{ vote_form.media }}
{% for lang in initiative.languages.all %}
    <link rel="alternate" href="{% url 'initiative:view' initiative.pk %}?lang={{ lang.language }}" hreflang="{{ lang.language }}"/>
{% endfor %}
{% endblock %}

{% block moreheader %}
    {% if version.spam %}
        <meta name="robots" content="noindex,nofollow" />
    {% endif %}
    {% if is_last_version %}
        <link rel="canonical"
              href="{{ settings.SITE_URL }}{% url 'initiative:view' initiative.pk %}?lang={{ version.initiative_language.language }}" />
    {% else %}
        <link rel="canonical"
              href="{{ settings.SITE_URL }}{% url 'initiative:view-old' version.pk %}?lang={{ version.initiative_language.language }}" />
    {% endif %}
{% endblock %}

{% block content %}

{% if version %}

    {% if version.spam %}
        <p style="color: red">This is marked as SPAM!</p>
    {% endif %}

    {% if not is_last_version %}
        <p><span style="color: red">This is not the last version of the initiative.</span>
            <a href="{% url 'initiative:view' initiative.pk %}?lang={{ version.initiative_language.language }}"
               lang="{{ version.initiative_language.language }}">Go to the last version.</a></p>
    {% endif %}

<section>

    <section>

        <p><b>Place:</b>
            {% if initiative.place.country %}
                Country: {{initiative.place.country}} |
                Region: {{initiative.place.region}} |
                Subregion: {{initiative.place.subregion}} |
                City: {{initiative.place.city}} |
                District: {{initiative.place.district}}</p>
            {% else %}
                World
            {% endif %}
        </p>

        <p><b>Categories:</b> {% for c in categories %}{{ c }}{% if not forloop.last %}; {% endif %}{% empty %}none{% endfor %}</p>

        <p><b>Created:</b> {{ initiative.created }} UTC</p>

        {{ vote_form.vote }}
        {{ vote_form.vote_being_spam }}

        <nav>
            <p><a href="{% url 'initiative:edit' initiative.pk version.initiative_language.language %}">Add new version</a> |
                <a target="_blank" href="{% url 'initiative:translate' initiative.pk %}"
                >Translate to another language</a></p>
        </nav>

    </section>

    <h3>Problem</h3>
    <div lang="{{ version.initiative_language.language }}">
        {{ problem }}
    </div>

    <h3>Practical result</h3>
    <div lang="{{ version.initiative_language.language }}">
        {{ outcome }}
    </div>

    <h3>Solution</h3>
    <div lang="{{ version.initiative_language.language }}">
        {{ solution }}
    </div>
</section>

{% else  %}

<p>Initiative not available in given language(s).</p>

{% endif %}

<h3>In other languages</h3>

{% if initiative.languages.all|length > 1 %}
    <ul>
    {% for lang in initiative.languages.all %}
        {% if lang != version.initiative_language %}
        <li>
            <a href="{% url 'initiative:view' initiative.pk %}?lang={{ lang.language }}"
               lang="{{ lang.language }}">{{ lang.last_version }}</a>
                ({{ lang.language_name }})
        </li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>None</p>
{% endif %}

<h3>Old versions</h3>

{% if old_versions %}
    <ul>
    {% for old in old_versions %}
        <li>
            {{ old.created }} UTC -
            <a href="{% url 'initiative:view-old' old.pk %}"
                   lang="{{ version.initiative_language.language }}">{{ old }}</a>
            {% if old.spam %}<span style="color: red">(spam)</span>{% endif %}
            {% if old.pk == version.pk %}
                (current)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>None</p>
{% endif %}

{% endblock %}