{% extends "core/base.html" %}

{% block title %}Initiative {{version.title}}{% endblock %}
{% block header %}{{version.title}}{% endblock %}

{% block content %}

{% if version %}

<section lang="{{ version.initiative_language.language }}">

    <p lang="{{ lang }}"><b>Place:</b>
        {% if version.place.country %}
            Country: {{version.place.country}} |
            Region: {{version.place.region}} |
            Subregion: {{version.place.subregion}} |
            City: {{version.place.city}} |
            District: {{version.place.district}}</p>
        {% else %}
            World
        {% endif %}
    </p>

    <h3 lang="{{ lang }}">Problem</h3>

    {{ problem }}

    <h3 lang="{{ lang }}">Practical result</h3>

    {{ outcome }}

    <h3 lang="{{ lang }}">Solution</h3>

    {{ solution }}

</section>

{% else  %}

<p>Initiative not available in given language(s).</p>

{% endif %}

{% endblock %}