{% extends "core/base.html" %}

{% block title %}Initiative {{version.title}}{% endblock %}
{% block header %}{{version.title}}{% endblock %}

{% block moreheader %}
    {% if is_last_version %}
        <link rel="canonical"
              href="{% url 'initiative:view' version.initiative_language.initiative.pk %}?lang={{ version.initiative_language.language }}" />
    {% endif %}
{% endblock %}

{% block content %}

{% if version %}

    {% if not is_last_version %}
        <p><span style="color: red">This is not the last version of the initiative.</span>
            <a href="{% url 'initiative:view' version.initiative_language.initiative.pk %}?lang={{ version.initiative_language.language }}"
               lang="{{ version.initiative_language.language }}">Go to the last version.</a></p>
    {% endif %}

<section lang="{{ version.initiative_language.language }}">

    <p lang="{{ lang }}"><b>Place:</b>
        {% if version.place.country %}
            Country: {{version.place.country}} |
            Region: {{version.place.region}} |
            Subregion: {{version.place.subregion}} |
            City: {{version.place.city}} |
            District: {{version.place.district}}</p>
        {% else %}
            World
        {% endif %}
    </p>

    <h3 lang="{{ lang }}">Problem</h3>

    {{ problem }}

    <h3 lang="{{ lang }}">Practical result</h3>

    {{ outcome }}

    <h3 lang="{{ lang }}">Solution</h3>

    {{ solution }}

</section>

{% else  %}

<p>Initiative not available in given language(s).</p>

{% endif %}

<h3>In other languages</h3>

{% if version.languages|length > 1 %}
    <ul>
    {% for lang in version.languages %}
        <li>
        {% if lang != version.language %}
            <a href="{% url 'initiative:view' version.initiative.pk %}?lang={{ lang.language }}"
                   lang="{{ lang.language }}">{{ lang.last_version }}</a>
                ({{ lang.language_name }})
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>None</p>
{% endif %}

<h3>Old versions</h3>

{% if old_versions %}
    <ul>
    {% for old in old_versions %}
        <li>
            <a href="{% url 'initiative:view-old' version.pk %}"
                   lang="{{ version.initiative_language.language }}">{{ old }}</a>
            {% if old.pk == version.pk %}
                (current)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>None</p>
{% endif %}

{% endblock %}