{% extends "core/base.html" %}

{% block css %}
textarea { width: 100% }
{% endblock %}

{% block title %}User {{user.username}} profile{% endblock %}
{% block header %}User {{user.username}} profile{% endblock %}

{% block content %}

<h3>User's initiatives</h3>

{% if initiatives %}
    <ul>
    {% for initiative in initiatives %}
        <li>
            {% for lang in initiative.languages.all %}
                <a href="#" lang="{{ lang.language }}">{{ lang.last_version }}</a>
                ({{ lang.language_name }}){% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>None.</p>
{% endif %}

<h3>User info</h3>

<dl>
    <dt>Place</dt>
    <dd>
        <dl>
            <dt>Country</dt><dd>{{user.place.country}}</dd>
            <dt>Region</dt><dd>{{user.place.region}}</dd>
            <dt>Subregion</dt><dd>{{user.place.subregion}}</dd>
            <dt>City</dt><dd>{{user.place.city}}</dd>
            <dt>District</dt><dd>{{user.place.district}}</dd>
        </dl>
    </dd>
    <dt>Username</dt>
    <dd><p>{{user.username}}</p></dd>
    <dt>First name</dt>
    <dd><p>{{user.first_name}}</p></dd>
    <dt>Last name</dt>
    <dd><p>{{user.last_name}}</p></dd>
    <dt>Email</dt>
    <dd>
        <p>
            {% if user.show_email %}<a href="mailto:{{user.email}}">{{user.email}}</a>{% else %}n/a{% endif %}
        </p>
    </dd>
    <dt>SSH public key</dt>
    <dd>
        <p>
            {% if user.show_keys and user.ssh_pubkey != '' %}
            <textarea readonly="readonly">{{user.ssh_pubkey}}</textarea>
            {% else %}
            n/a
            {% endif %}
        </p>
    </dd>
    <dt>PGP public key</dt>
    <dd>
        <p>
            {% if user.show_keys and user.pgp_pubkey != '' %}
            <textarea readonly="readonly">{{user.pgp_pubkey}}</textarea>
            {% else %}
            n/a
            {% endif %}
        </p>
    </dd>
</dl>

{% endblock %}