{% extends "core/base.html" %}

{% block title %}User registration{% endblock %}
{% block header %}User registration{% endblock %}
{% block scripts %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}

{% include 'core/errors.html' %}

<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

<form method="post" action="">
{% csrf_token %}
<table>
{{form}}
</table>
<input type="submit" value="Create user"/>
</form>

<p>You are <em>not</em> required to enter first and last name.</p>

<p>In no event we will distribute your email to spammers.</p>

{% endblock %}
