{% load bootstrap3 %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>World Initiative - {% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {# TODO: Don't load Juery UI for pages not requiring it. #}
  <link rel='stylesheet' type='text/css' href='{% static 'main.css' %}' />
  <style>
    {% block css %}{% endblock %}
  </style>
  <script>
      $(document).ajaxError(function( event, request, settings ) {
          alert("Error: " + request.status);
      });

    (function($){
        $(document).ready(function(){
            $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    })(jQuery);
  </script>
  {% block scripts %}{% endblock %}
  {% block moreheader %}{% endblock %}
</head>
<body>

<div class="container" style="background:white; padding:0px">
  <div class="row" style="margin:0px; padding:0">
    <div class="navbar-collapse navbar-default mynavbar" style="padding:0px">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:15px">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/" target="_blank">Blog</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'user:account' %}">Account</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Log in</a></li>
          <li><a href="{% url 'user:register' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div style="margin-left:15px; margin-right:15px">
    {% bootstrap_messages %}
    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
  </div>
</div>

{{ googlytics_code }}
</body>
</html>
